In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [32]:
df = pd.read_csv('./datasets/Crucial_Elements.csv', index_col=0)
df = df.drop(df.index[0], axis=0)
df.tail()

,total_amount,trip_distance,fare_amount,tolls_amount,tip_amount,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
2020-06-30 19:00:00,15.954686,2.401137,9.870901,0.000000,1.833676,0.009099,0.976342,0.013649,0.0,0.011829,0.035487,0.915378,0.037307,0.0,9.337234
2020-06-30 20:00:00,15.718408,2.364177,9.769862,0.000000,1.701909,0.008299,0.957123,0.031812,0.0,0.015214,0.033195,0.900415,0.051176,0.0,9.098603
2020-06-30 21:00:00,14.993762,2.712161,10.621107,0.003571,1.616125,0.008929,0.939286,0.039286,0.0,0.044643,0.037500,0.871429,0.046429,0.0,9.762054
2020-06-30 22:00:00,15.704196,2.945819,11.237284,0.006034,1.635819,0.006466,0.922414,0.058190,0.0,0.040948,0.062500,0.825431,0.071121,0.0,10.113427
2020-06-30 23:00:00,16.295517,2.988082,11.428164,0.000000,1.597562,0.019178,0.893151,0.068493,0.0,0.038356,0.052055,0.797260,0.112329,0.0,9.967014

I created dummy variables in my data wrangling to help study what the data looks like and to check how they correlated to the target variable.

# Standardizing the magnitude

In [3]:
scalar = StandardScaler()
scaled_df = scalar.fit_transform(df)
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

,total_amount,trip_distance,fare_amount,tolls_amount,tip_amount,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
0,0.885796,-0.027912,0.437501,-0.214885,1.315357,0.374369,0.207345,-0.679667,-0.074548,-0.544620,0.333074,0.168653,-0.244830,-0.070958,1.689017
1,1.004708,0.127004,0.315116,-0.069906,1.267848,0.638116,-0.027822,-0.426011,-0.074548,-0.511267,0.784197,-0.155153,0.089778,-0.070958,0.989211
2,0.826532,0.251179,0.309303,-0.094525,1.025295,0.375325,0.077969,-0.338959,-0.074548,-0.455398,1.095317,-0.413523,0.378743,-0.070958,0.684245
3,0.771972,0.410612,0.394185,-0.043923,0.521331,0.417148,-0.028700,-0.051167,-0.074548,-0.453874,1.411391,-0.777335,0.987760,-0.070958,0.533587
4,0.750867,0.532663,0.394218,-0.100444,-0.281626,0.410655,-0.578600,1.409244,-0.074548,-0.440623,1.474249,-1.222272,2.057085,-0.070958,0.148210

In [18]:
len(df.columns)

15

In [34]:
scalar = StandardScaler()
indecies = df.index
X = df.drop('total_amount', axis=1)
y = df['total_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)
X_train.head()

# Join X_train and y_train into one dataframe
training_data = X_train.join(y_train)
# Same with the testing data
testing_data = X_test.join(y_test)

# Fit on the training data 
scalar.fit(training_data)

# Transform on the training and testing data
training_data = scalar.transform(training_data)
testing_data = scalar.transform(testing_data)
training_data = pd.DataFrame(training_data, columns=df.columns, index=indecies[:len(X_train)])
testing_data = pd.DataFrame(testing_data, columns=df.columns, index=indecies[len(X_train):])
testing_data.tail()

,total_amount,trip_distance,fare_amount,tolls_amount,tip_amount,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
2020-06-30 19:00:00,-0.248483,-0.169994,-0.267756,-0.964951,0.349514,-0.535886,0.619947,-0.087283,0.155692,0.100860,-0.041776,-0.148486,-0.084723,-1.161812,2.404348
2020-06-30 20:00:00,-0.801525,-0.007294,-0.169526,1.037999,-0.485279,0.634582,-0.599762,-0.087283,-0.726610,-0.835859,0.921299,-0.793638,-0.084723,1.805720,0.293555
2020-06-30 21:00:00,-0.124905,-0.276333,-0.267756,-0.331103,-0.462262,-0.039368,0.244071,-0.087283,0.443831,-0.738085,0.114970,0.045017,-0.084723,-0.775060,-0.396822
2020-06-30 22:00:00,-1.053950,-0.723690,-0.239785,0.402902,-0.576341,0.788543,-0.885496,-0.087283,-0.763593,-0.895213,1.035555,-0.987061,-0.084723,0.230100,-0.997171
2020-06-30 23:00:00,-1.048069,-0.254297,-0.189873,1.012015,-0.531005,0.693926,-0.680492,-0.087283,-0.766950,-0.826419,0.936230,-0.799526,-0.084723,1.550903,-0.098903

In [5]:
training_data.to_csv('./datasets/Train_Data.csv')
testing_data.to_csv('./datasets/Test_Data.csv')

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'