# Data Wrangling
* [1 Data Collection](#1_Data_Collection)
    * [1.1 Importing Taxi Trip Datasets](#1.1_Importing_Taxi_Trip_Datasets)
    * [1.2 Concatinating Into One DataFrame](#1.2_Concatinating_Into_One_DataFrame)
    * [1.3 Importing Additional Datasets](#1.3_Importing_Additional_Datasets)
    * [1.4 Data Merging](#1.4_Data_Merging)
    * [1.5 Applying Merge On Zones And Population](#1.5_Applying_Merge_On_All_Datasets)
    * [1.6 Removing Whitespaces](#1.6_Removing_whitespaces)
    * [1.7_Merging_on_boroughs](#1.7_Merging_on_boroughs)
    * [1.8 Merging on Taxi Data](#1.8_Merging_On_Taxi_Data)
* [2 Data Definition](#2_Data_Definition)
    * [2.1 Data Columns](#2.1_Data_Columns)
    * [2.2 Data Types](#2.2_Data_Types)
    * [2.3 Descriptions_Of_Columns](#2.3_Descriptions_Of_Columns)
    * [2.4 Counts_And_Percents](#2.4_Counts_And_Percents)
* [3 Data Cleaning](#3_Data_Cleaning)
    * [3.1 Filling NULL_Values](#3.1_Filling_NULL_values)
    * [3.2_Checking_For_Duplicates](#3.2_Checking_For_Duplicates)
    * [3.3_Finished_Cleaning](#3.3_Finished_Cleaning)

# 1 Data Collection<a id='1_Data_Collection'></a>

In [1]:
import pandas as pd
import csv
from datetime import datetime

# 1.1  Importing Taxi Trip Datasets <a id='1.1_Importing_Taxi_Trip_Datasets'></a>
The data is stored in a dataset folder in my directory and the data for each month is stored in a separate file. I will be importing each file in its own dataframe and then concatinating them into one big dataframe.

In [2]:
# The data is stored in a dataset folder in my directory.
# The data for each month is stored in a separate file.
january_data = pd.read_csv('./datasets/yellow_tripdata_2020-01.csv')
february_data = pd.read_csv('./datasets/yellow_tripdata_2020-02.csv')
march_data = pd.read_csv('./datasets/yellow_tripdata_2020-03.csv')
april_data = pd.read_csv('./datasets/yellow_tripdata_2020-04.csv')
may_data = pd.read_csv('./datasets/yellow_tripdata_2020-05.csv')
june_data = pd.read_csv('./datasets/yellow_tripdata_2020-06.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 1.2 Concatinating Into One DataFrame <a id='1.2_Concatinating_Into_One_DataFrame'></a>
The following cell will combine the entire taxi data into one big dataframe by concating all the monthly data that was imported/

In [3]:
pandemic_taxi_data = january_data
pandemic_taxi_data = pandemic_taxi_data.append([february_data, march_data, april_data,
                                                may_data, june_data]).reset_index(drop=True)
pandemic_taxi_data.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
16847773,NaN,2020-06-30 23:05:00,2020-06-30 23:32:00,NaN,12.96,NaN,NaN,17,69,NaN,32.91,0.0,0.5,2.75,6.12,0.3,42.58,0.0
16847774,NaN,2020-06-30 23:21:47,2020-06-30 23:25:24,NaN,0.36,NaN,NaN,41,41,NaN,11.45,0.0,0.5,2.75,0.00,0.3,15.00,0.0
16847775,NaN,2020-06-30 23:34:00,2020-06-30 23:44:00,NaN,2.36,NaN,NaN,242,81,NaN,18.45,0.0,0.5,2.75,0.00,0.3,22.00,0.0
16847776,NaN,2020-06-30 23:22:47,2020-06-30 23:42:01,NaN,5.50,NaN,NaN,14,118,NaN,15.90,0.0,0.5,6.23,12.24,0.3,35.17,0.0
16847777,NaN,2020-06-30 23:56:18,2020-07-01 00:27:19,NaN,9.59,NaN,NaN,61,137,NaN,29.68,0.0,0.5,0.00,0.00,0.3,32.98,2.5

# 1.3 Importing Additional Datasets<a id='1.3_Importing_Additional_Datasets'></a>

The next two datasets are the taxi zones, which holds data that lets us know where a LocationID is located in the city and a population dataset that lets us know how many people are in each borough.

In [4]:
taxi_zones = pd.read_csv('./datasets/taxi_zones.csv')
taxi_zones.head(10)

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island
5,6,0.150491,MULTIPOLYGON (((-74.06367318899999 40.60219816...,0.000606,Arrochar/Fort Wadsworth,6,Staten Island
6,7,0.107417,MULTIPOLYGON (((-73.90413637799996 40.76752031...,0.000390,Astoria,7,Queens
7,8,0.027591,MULTIPOLYGON (((-73.92334041500001 40.77512891...,0.000027,Astoria Park,8,Queens
8,9,0.099784,MULTIPOLYGON (((-73.78502434699996 40.76103651...,0.000338,Auburndale,9,Queens
9,24,0.047000,MULTIPOLYGON (((-73.95953658899997 40.79871852...,0.000061,Bloomingdale,24,Manhattan

In [5]:
borough_population = pd.read_csv('./datasets/2020_borough_population.csv')
borough_population

,Age Group,Borough,2010,2020,Change in Percent - 2010-2020
0,Total,New York City,8242624,8550971,3.74
1,Total,Bronx,1385108,1446788,4.45
2,Total,Brooklyn,2552911,2648452,3.74
3,Total,Manhattan,1585873,1638281,3.30
4,Total,Queens,2250002,2330295,3.57
5,Total,Staten Island,468730,487155,3.93
6,School-Age (5 to17),New York City,1260400,1282814,1.78
7,School-Age (5 to17),Bronx,265052,259013,-2.28
8,School-Age (5 to17),Brooklyn,424704,441049,3.85
9,School-Age (5 to17),Manhattan,157856,162931,3.21
10,School-Age (5 to17),Queens,331926,341062,2.75
11,School-Age (5 to17),Staten Island,80862,78759,-2.60
12,65 and over,New York City,1002208,1177215,17.46
13,65 and over,Bronx,145882,171856,17.80
14,65 and over,Brooklyn,294610,351609,19.35
15,65 and over,Manhattan,214153,250806,17.12
16,65 and over,Queens,288219,325300,12.87
17,65 and over,Staten Island,59344,77644,30.84

# 1.4. Data Merging <a id='1.4_Data_Merging'></a>

# 1.5 Applying Merge On All Datasets <a id='1.5_Applying_Merge_On_All_Datasets'></a>
The next cells will focus on merging taxi_zones and borough_population based off their boroughs. The idea is to have the columns merge and have a population entry for each borough entry in taxi_zones.

In [6]:
borough_population['Borough'].unique()

array(['New York City', '   Bronx', '   Brooklyn', '   Manhattan',
       '   Queens', '   Staten Island'], dtype=object)

In [7]:
taxi_zones['borough'].unique()

array(['EWR', 'Queens', 'Bronx', 'Manhattan', 'Staten Island', 'Brooklyn'],
      dtype=object)

# 1.6 Removing Whitespaces <a id = '1.6_Removing_whitespaces'></a>
It seems that they have the merging conditions we want but the values of borough_population has their row values with extra whitespace. Data cleaning will need to be used before merging them

In [8]:
# In order to elimimate whitespaces, we must convert the values in the 'Borough' column to strings,
# then we can strip the whitespaces out.
borough_population['Borough'] = borough_population['Borough'].str.strip()
# The borough population data needs to remove the values that do not have the total population of a borough
borough_population = borough_population.loc[borough_population['Age Group'] == 'Total']
borough_population['Borough'].unique()

array(['New York City', 'Bronx', 'Brooklyn', 'Manhattan', 'Queens',
       'Staten Island'], dtype=object)

# 1.7 Merging on boroughs <a id='1.7_Merging_on_boroughs'></a>
The next step is to merge taxi_zones and borough_population on their 'borough's. The only columns that will be needed from the taxis data is 'Borough' and '2020'.

In [9]:
# Next step, we merge. We will merge them based off their 'borough' columns.
# Keeping the keys in order of the taxi_zones.
taxi_zones = taxi_zones.merge(borough_population[['Borough','2020']], left_on='borough',
                              right_on='Borough', how='left')
taxi_zones.head()

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough,Borough,2020
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR,NaN,NaN
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens,Queens,2330295.0
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx,Bronx,1446788.0
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan,Manhattan,1638281.0
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island,Staten Island,487155.0

# 1.8 Merging on Taxi ID <a id='1.8_Merging_On_Taxi_Data'></a>

The final merges consists of bringing the LocationID, zones and Borough into the taxi data table.

In [10]:
# The next step is to merge the taxi ride data into the taxi zones
# To avoid 
pandemic_taxi_data = pandemic_taxi_data.merge(taxi_zones[['zone', 'LocationID', 'Borough']],
                                              left_on=['PULocationID'],
                                              right_on=['LocationID'])
pandemic_taxi_data = pandemic_taxi_data.rename(columns={'zone': 'zone_PU',
                                  'LocationID': 'LocationID_PU',
                                  'Borough': 'Borough_PU'})

In [11]:
pandemic_taxi_data = pandemic_taxi_data.merge(taxi_zones[['zone', 'LocationID', 'Borough']],
                                             left_on=['DOLocationID'],
                                             right_on=['LocationID'])
pandemic_taxi_data = pandemic_taxi_data.rename(columns={'zone': 'zone_DO',
                                                       'LocationID': 'LocationID_DO',
                                                       'Borough': 'Borough_DO'})
pandemic_taxi_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,zone_PU,LocationID_PU,Borough_PU,zone_DO,LocationID_DO,Borough_DO
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,...,0.0,0.3,11.27,2.5,Upper West Side North,238,Manhattan,Upper West Side South,239,Manhattan
1,2.0,2020-01-01 00:24:22,2020-01-01 00:25:54,1.0,0.56,1.0,N,238,239,1.0,...,0.0,0.3,9.00,2.5,Upper West Side North,238,Manhattan,Upper West Side South,239,Manhattan
2,2.0,2020-01-01 00:46:46,2020-01-01 00:49:17,1.0,0.62,1.0,N,238,239,1.0,...,0.0,0.3,9.30,2.5,Upper West Side North,238,Manhattan,Upper West Side South,239,Manhattan
3,1.0,2020-01-01 00:17:53,2020-01-01 00:22:47,1.0,0.80,1.0,Y,238,239,1.0,...,0.0,0.3,11.15,2.5,Upper West Side North,238,Manhattan,Upper West Side South,239,Manhattan
4,2.0,2020-01-01 00:49:45,2020-01-01 00:54:12,1.0,0.86,1.0,N,238,239,1.0,...,0.0,0.3,11.16,2.5,Upper West Side North,238,Manhattan,Upper West Side South,239,Manhattan

# 1.9 Creating Dummy Variblaes <a id= '1.9Creating_Dummy_Variables'></a>

This will create dummy variables for the Borough_PU and Borough_DP.

In [12]:
Borough_PU = pandemic_taxi_data['Borough_PU']
Borough_DO = pandemic_taxi_data['Borough_DO']

PU_dummies = pd.get_dummies(Borough_PU)
DO_dummies = pd.get_dummies(Borough_DO)

In [13]:
PU_dummies.columns = ['Bronx_PU', 'Brooklyn_PU', 'Manhattan_PU', 'Queens_PU', 'Staten_Island_PU']
DO_dummies.columns = ['Bronx_DO', 'Brooklyn_DO', 'Manhattan_DO', 'Queens_DO', 'Staten_Island_DO']

In [14]:
pandemic_taxi_data = pandemic_taxi_data.join(PU_dummies)
pandemic_taxi_data = pandemic_taxi_data.join(DO_dummies)

# 2. Data Definition <a id='2_Data_Definition'></a>

The following cells will begin to explore what the data holds and what the data looks like.

# 2.1 Data Columns <a id='2.1_Data_Columns'></a>

The names of the Data Columns that are present in the data table.

In [15]:
len(pandemic_taxi_data.columns)

34

In [16]:
for i in range(len(pandemic_taxi_data.columns)):
    print('{}. {}'.format(i + 1, pandemic_taxi_data.columns[i]))

1. VendorID
2. tpep_pickup_datetime
3. tpep_dropoff_datetime
4. passenger_count
5. trip_distance
6. RatecodeID
7. store_and_fwd_flag
8. PULocationID
9. DOLocationID
10. payment_type
11. fare_amount
12. extra
13. mta_tax
14. tip_amount
15. tolls_amount
16. improvement_surcharge
17. total_amount
18. congestion_surcharge
19. zone_PU
20. LocationID_PU
21. Borough_PU
22. zone_DO
23. LocationID_DO
24. Borough_DO
25. Bronx_PU
26. Brooklyn_PU
27. Manhattan_PU
28. Queens_PU
29. Staten_Island_PU
30. Bronx_DO
31. Brooklyn_DO
32. Manhattan_DO
33. Queens_DO
34. Staten_Island_DO

# Do your column names correspond to what those columns store? 

The column names appeaer to each describe what each column holds. Each column is described as: 
1. VendorID: A code indicating the TPEP provider that provided the record. 1= Creative Mobile Technologies, LLC; 2= VeriFone Inc. : The date and time when the meter was engaged.
2. tpep_pickup_datetime: The date and time when the meter was engaged.
3. tpep_dropoff_datetime: The date and time when the meter was disengaged.
4. passenger_count: The number of passengers in the vehicle. This is a driver-entered value.
5. trip_distance: The elapsed trip distance in miles reported by the taximeter.
6. RatecodeID:The final rate code in effect at the end of the trip. 1= Standard rate 2=JFK 3=Newark 4=Nassau or Westchester 5=Negotiated fare 6=Group ride
7. store_and_fwd_flag: This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka “store and forward,” because the vehicle did not have a connection to the server. Y= store and forward trip N= not a store and forward trip
8. PULocationID: TLC Taxi Zone in which the taximeter was engaged
9. DOLocationID: TLC Taxi Zone in which the taximeter was disengaged
10. payment_type: A numeric code signifying how the passenger paid for the trip. 1= Credit card 2= Cash 3= No charge 4= Dispute 5= Unknown 6= Voided trip
11. fare_amount: The time-and-distance fare calculated by the meter.
12. extra: Miscellaneous extras and surcharges. Currently, this only includes the $0.50 and $1 rush hour and overnight charges.
13. mta_tax: 0.50 cents MTA tax that is automatically triggered based on the metered rate in use.
14. tip_amount: Tip amount – This field is automatically populated for credit card tips. Cash tips are not included.
15. tolls_amount: Total amount of all tolls paid in trip.
16. improvement_surcharge: 0.30 cents improvement surcharge assessed trips at the flag drop. The improvement surcharge began being levied in 2015.
17. total_amount: The total amount charged to passengers. Does not include cash tips.
18. congestion_surcharge: 
19. zone_PU: The area zone of where the pick up location was.
20. LocationID_PU: The taxi zone number of where the pick up location was.
21. Borough_PU: The borough of the pick up location.
22. zone_DO: The area zone of where the pick up location was.
23. LocationID_DO: The taxi zone number of where the pick up location was.
24. Borough_DO: The borough of the pick up location.

# 2.2 Data Types <a id='2.2_Data_Types'></a>

The next part is going to explore what the data types of each column. This will help gain a better understanding of what we may need to clean and how to clean it.

In [17]:
pandemic_taxi_data.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
zone_PU                   object
LocationID_PU              int64
Borough_PU                object
zone_DO                   object
LocationID_DO              int64
Borough_DO                object
Bronx_PU                   uint8
Brooklyn_PU                uint8
Manhattan_PU               uint8
Queens_PU                  uint8
Staten_Island_PU           uint8
Bronx_DO                   uint8
Brooklyn_DO                uint8
Manhattan_DO               uint8
Queens_DO                  uint8
Staten_Island_DO           uint8
dtype: object

The .dtypes method shows and the datatypes of 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type',
'zone_PU', 'LocationID_PU', 'Borough_PU', 'zone_DO','LocationID_DO', and 'Borough_DO' are supposed to be categorical but are marked as in64 objects. The next cells will convert the categorical columns to a category object.

In [18]:
# Iterate through the columns and change them into category types
list_of_categorical = ['store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type',
                      'zone_PU', 'LocationID_PU', 'Borough_PU',
                      'zone_DO', 'LocationID_DO', 'Borough_DO']
for item in list_of_categorical:
    pandemic_taxi_data[item] = pandemic_taxi_data[item].astype('category')

In [19]:
pandemic_taxi_data.dtypes

VendorID                  float64
tpep_pickup_datetime       object
tpep_dropoff_datetime      object
passenger_count           float64
trip_distance             float64
RatecodeID                float64
store_and_fwd_flag       category
PULocationID             category
DOLocationID             category
payment_type             category
fare_amount               float64
extra                     float64
mta_tax                   float64
tip_amount                float64
tolls_amount              float64
improvement_surcharge     float64
total_amount              float64
congestion_surcharge      float64
zone_PU                  category
LocationID_PU            category
Borough_PU               category
zone_DO                  category
LocationID_DO            category
Borough_DO               category
Bronx_PU                    uint8
Brooklyn_PU                 uint8
Manhattan_PU                uint8
Queens_PU                   uint8
Staten_Island_PU            uint8
Bronx_DO                    uint8
Brooklyn_DO                 uint8
Manhattan_DO                uint8
Queens_DO                   uint8
Staten_Island_DO            uint8
dtype: object

The appropriate datatypes have been changed from int64s into categorical data types.

# 2.3 Description Of Columns <a id= '2.3_Descriptions_Of_Columns'></a>

The next cell will describe what the columns statistical values look like. It'll give us an idea of how the data is behaving.

In [20]:
pandemic_taxi_data.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,...,Bronx_PU,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO
count,1.639500e+07,1.639500e+07,1.667322e+07,1.639500e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,...,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07,1.667322e+07
mean,1.664669e+00,1.491998e+00,3.073729e+00,1.043600e+00,1.253740e+01,1.133242e+00,5.230166e-01,2.132019e+00,3.209923e-01,2.979066e-01,...,3.664799e-03,1.332784e-02,9.207748e-01,6.203829e-02,1.057984e-04,9.930956e-03,4.272804e-02,8.926352e-01,5.258733e-02,3.726335e-04
std,4.721061e-01,1.136433e+00,1.656767e+02,6.765441e-01,1.954438e+02,1.224568e+02,1.224504e+02,2.600147e+00,1.635388e+00,3.473591e-02,...,6.042656e-02,1.146744e-01,2.700899e-01,2.412251e-01,1.028529e-02,9.915812e-02,2.022433e-01,3.095764e-01,2.232082e-01,1.930012e-02
min,1.000000e+00,0.000000e+00,-3.062000e+01,1.000000e+00,-1.259000e+03,-2.700000e+01,-5.000000e-01,-4.932200e+02,-4.000000e+01,-3.000000e-01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,1.000000e+00,9.800000e-01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.620000e+00,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.920000e+00,0.000000e+00,3.000000e-01,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
max,2.000000e+00,9.000000e+00,2.970045e+05,9.900000e+01,6.711001e+05,5.000008e+05,5.000005e+05,1.100000e+03,9.117500e+02,3.000000e-01,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

# 2.4 Counts and Percents Unique Values <a id='2.4_Counts_And_Percents'></a>

The following cell will count the cardinality of each column and see how their ratios are.

In [21]:
for item in pandemic_taxi_data.columns:
    len_unique = len(pandemic_taxi_data[item].unique())
    print('The cardinality of {} is: {}'.format(item, len_unique))

The cardinality of VendorID is: 3
The cardinality of tpep_pickup_datetime is: 6336458
The cardinality of tpep_dropoff_datetime is: 6342811
The cardinality of passenger_count is: 11
The cardinality of trip_distance is: 5544
The cardinality of RatecodeID is: 8
The cardinality of store_and_fwd_flag is: 3
The cardinality of PULocationID is: 258
The cardinality of DOLocationID is: 258
The cardinality of payment_type is: 6
The cardinality of fare_amount is: 8682
The cardinality of extra is: 78
The cardinality of mta_tax is: 16
The cardinality of tip_amount is: 3932
The cardinality of tolls_amount is: 1461
The cardinality of improvement_surcharge is: 3
The cardinality of total_amount is: 13972
The cardinality of congestion_surcharge is: 10
The cardinality of zone_PU is: 258
The cardinality of LocationID_PU is: 258
The cardinality of Borough_PU is: 6
The cardinality of zone_DO is: 258
The cardinality of LocationID_DO is: 258
The cardinality of Borough_DO is: 6
The cardinality of Bronx_PU is: 2
The cardinality of Brooklyn_PU is: 2
The cardinality of Manhattan_PU is: 2
The cardinality of Queens_PU is: 2
The cardinality of Staten_Island_PU is: 2
The cardinality of Bronx_DO is: 2
The cardinality of Brooklyn_DO is: 2
The cardinality of Manhattan_DO is: 2
The cardinality of Queens_DO is: 2
The cardinality of Staten_Island_DO is: 2

# 3. Data Cleaning <a id='3_Data_Cleaning'></a>

This section will cover how I clean the data's nan values, outliers and checking for duplicates.

In [22]:
pandemic_taxi_data.isna().sum()

VendorID                 278223
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          278223
trip_distance                 0
RatecodeID               278223
store_and_fwd_flag       278223
PULocationID                  0
DOLocationID                  0
payment_type             278223
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge          0
zone_PU                       0
LocationID_PU                 0
Borough_PU                 1475
zone_DO                       0
LocationID_DO                 0
Borough_DO                29108
Bronx_PU                      0
Brooklyn_PU                   0
Manhattan_PU                  0
Queens_PU                     0
Staten_Island_PU              0
Bronx_DO                      0
Brooklyn_DO                   0
Manhattan_DO                  0
Queens_DO                     0
Staten_Island_DO              0
dtype: int64

In [23]:
col_with_null_vals = ['VendorID', 'passenger_count', 'RatecodeID',
                      'payment_type', 'Manhattan_PU', 'Queens_PU', 'Bronx_PU', 'Brooklyn_PU',
                     'Staten_Island_PU', 'Manhattan_DO', 'Queens_DO', 'Bronx_DO', 'Brooklyn_DO',
                     'Staten_Island_DO']

df_nulls = pandemic_taxi_data[col_with_null_vals].isnull()
df_nulls.columns = ['V', 'p', 'R', 'p_type', 'Man_PU', 'Q_PU', 'BX_PU', 'BK_PU', 'SI_PU',
                   'Man_DO', 'Q_DO', 'BX_DO', 'BK_DO', 'SI_DO']

df_nulls.to_csv('./datasetsTFNullTable.csv')

# 3.1 Filling NULL values <a id='3.1_Filling_NULL_values'></a>

This lets us know that there are seven columns with NaN values. What I'll do with the NaN values is substitute the NaNs with 0s

In [24]:
pandemic_taxi_data.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,Bronx_PU,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO
16673213,NaN,2020-02-25 14:10:00,2020-02-25 14:39:00,NaN,12.31,NaN,NaN,139,2,NaN,...,0,0,0,1,0,0,0,0,1,0
16673214,NaN,2020-04-15 09:05:00,2020-04-15 09:43:00,NaN,13.48,NaN,NaN,139,2,NaN,...,0,0,0,1,0,0,0,0,1,0
16673215,1.0,2020-02-19 16:27:23,2020-02-19 16:37:06,1.0,1.50,1.0,N,2,2,1.0,...,0,0,0,1,0,0,0,0,1,0
16673216,2.0,2020-03-26 03:06:52,2020-03-26 03:08:55,3.0,0.14,1.0,N,199,199,4.0,...,1,0,0,0,0,1,0,0,0,0
16673217,2.0,2020-03-26 03:06:52,2020-03-26 03:08:55,3.0,0.14,1.0,N,199,199,2.0,...,1,0,0,0,0,1,0,0,0,0

In [25]:
a = (pandemic_taxi_data['tpep_dropoff_datetime'].astype('datetime64') - 
 pandemic_taxi_data['tpep_pickup_datetime'].astype('datetime64'))

In [26]:
mins = [(a[i].components[1] * 60) + a[i].components[2] + (round(a[i].components[3] / 60, 2)) for i in range(len(a))]
mins

[4.8,
 1.53,
 2.52,
 4.9,
 4.45,
 5.67,
 7.22,
 5.22,
 3.27,
 5.8,
 5.98,
 7.65,
 3.83,
 1.52,
 5.55,
 7.05,
 5.17,
 10.13,
 5.07,
 0.92,
 4.78,
 3.65,
 5.73,
 5.05,
 2.85,
 7.72,
 4.78,
 3.45,
 3.7199999999999998,
 4.0,
 2.93,
 4.55,
 7.32,
 4.88,
 8.23,
 6.95,
 1.9,
 3.9,
 3.93,
 4.72,
 4.12,
 6.33,
 2.1,
 4.22,
 2.73,
 4.75,
 5.85,
 2.27,
 5.33,
 1.38,
 2.88,
 5.27,
 4.68,
 7.25,
 2.22,
 2.12,
 4.82,
 2.48,
 3.33,
 1.98,
 3.33,
 4.02,
 6.17,
 5.65,
 4.6,
 4.58,
 3.2800000000000002,
 4.27,
 2.9699999999999998,
 3.7199999999999998,
 5.55,
 3.85,
 4.28,
 7.55,
 7.6,
 5.97,
 8.7,
 3.95,
 4.25,
 4.78,
 8.82,
 7.55,
 1.8199999999999998,
 1.42,
 4.2,
 3.18,
 7.42,
 3.4,
 6.13,
 7.83,
 4.1,
 3.27,
 1.88,
 5.37,
 5.85,
 4.5,
 3.0,
 0.97,
 5.4,
 4.3,
 4.83,
 3.07,
 4.9,
 3.03,
 4.22,
 5.37,
 3.08,
 3.13,
 3.9699999999999998,
 1.13,
 3.58,
 2.38,
 4.9,
 3.7,
 4.3,
 2.42,
 3.08,
 5.88,
 2.5300000000000002,
 3.12,
 4.48,
 3.5,
 1.6,
 6.6,
 2.5,
 2.32,
 4.5,
 3.55,
 4.62,
 2.55,
 5.07,
 4.85,
 6.63,
 2.63,
 3.93,
 6.02,
 1.98,
 4.67,
 1.62,
 4.23,
 5.25,
 3.38,
 2.8,
 3.5,
 4.03,
 3.77,
 4.93,
 3.85,
 4.27,
 6.45,
 5.03,
 4.58,
 4.78,
 5.57,
 2.95,
 4.07,
 3.7800000000000002,
 1.98,
 4.78,
 4.02,
 4.43,
 4.38,
 4.03,
 1.55,
 4.95,
 4.9,
 4.6,
 5.6,
 3.12,
 3.82,
 6.55,
 2.5,
 2.95,
 1.43,
 3.62,
 2.5,
 1.3,
 2.35,
 5.7,
 5.77,
 3.45,
 2.8,
 3.38,
 3.77,
 1.87,
 2.38,
 2.88,
 3.83,
 4.72,
 3.42,
 4.97,
 3.42,
 2.63,
 7.42,
 2.48,
 1.6,
 1.83,
 10.52,
 5.38,
 6.67,
 4.07,
 0.88,
 3.4,
 4.0,
 10.78,
 3.13,
 4.47,
 2.22,
 4.73,
 3.75,
 3.9,
 4.32,
 1.67,
 4.77,
 6.1,
 2.9699999999999998,
 3.43,
 2.33,
 6.18,
 3.27,
 3.5,
 3.07,
 5.87,
 2.15,
 5.47,
 3.25,
 9.03,
 5.1,
 3.75,
 4.93,
 3.2800000000000002,
 3.52,
 5.18,
 4.72,
 5.05,
 6.63,
 4.65,
 3.98,
 2.77,
 6.25,
 4.75,
 3.42,
 3.7199999999999998,
 3.45,
 2.07,
 0.95,
 3.85,
 3.7800000000000002,
 2.22,
 4.85,
 3.52,
 10.82,
 7.98,
 3.33,
 1.87,
 2.7,
 3.98,
 5.0,
 3.08,
 4.68,
 4.77,
 4.87,
 4.13,
 2.1,
 5.27,
 5.08,
 3.38,
 2.7199999999999998,
 5.52,
 3.82,
 3.37,
 5.15,
 1.97,
 4.57,
 4.23,
 2.3,
 3.55,
 3.7800000000000002,
 3.33,
 6.65,
 2.05,
 5.95,
 3.62,
 5.88,
 4.7,
 5.53,
 4.52,
 3.43,
 11.0,
 6.15,
 5.75,
 5.67,
 5.38,
 4.58,
 3.63,
 4.5,
 5.15,
 3.55,
 4.28,
 6.47,
 3.08,
 4.0,
 3.0,
 3.02,
 2.85,
 3.3,
 4.23,
 3.08,
 5.57,
 4.32,
 4.82,
 2.9699999999999998,
 3.3,
 3.13,
 3.33,
 2.87,
 1.28,
 3.82,
 2.5300000000000002,
 2.63,
 2.7,
 3.73,
 4.73,
 8.22,
 4.73,
 5.58,
 4.33,
 5.55,
 2.9,
 2.2,
 3.9699999999999998,
 2.75,
 4.5,
 3.87,
 2.75,
 6.32,
 4.98,
 3.0,
 3.93,
 4.75,
 4.47,
 4.13,
 5.15,
 5.8,
 3.4699999999999998,
 5.7,
 4.5,
 3.75,
 5.28,
 2.43,
 5.57,
 3.73,
 5.27,
 6.88,
 3.62,
 3.38,
 3.52,
 1.97,
 3.55,
 1.27,
 1.1,
 2.7800000000000002,
 2.98,
 3.0,
 1.98,
 5.28,
 5.13,
 16.33,
 8.6,
 1.9300000000000002,
 3.18,
 1.58,
 3.12,
 4.22,
 6.93,
 5.12,
 3.55,
 7.15,
 5.05,
 6.65,
 3.75,
 3.37,
 6.88,
 1.53,
 6.07,
 3.0,
 2.17,
 1.67,
 3.27,
 4.62,
 4.37,
 1.22,
 2.2,
 2.2800000000000002,
 6.43,
 5.17,
 4.67,
 6.12,
 1.35,
 5.7,
 4.58,
 8.25,
 6.7,
 1.8,
 4.17,
 3.85,
 4.5,
 4.58,
 3.85,
 4.55,
 1.77,
 5.47,
 5.03,
 5.13,
 1.65,
 4.03,
 5.08,
 5.98,
 4.33,
 6.6,
 5.8,
 2.68,
 4.3,
 2.43,
 3.05,
 4.35,
 2.93,
 3.98,
 3.37,
 3.45,
 5.92,
 4.27,
 2.55,
 1.6800000000000002,
 4.3,
 4.47,
 1.28,
 3.7199999999999998,
 4.77,
 4.57,
 3.18,
 4.15,
 2.35,
 3.4,
 6.42,
 3.83,
 3.87,
 2.6,
 6.42,
 3.38,
 2.4,
 3.38,
 3.7,
 3.42,
 6.23,
 1.6,
 5.7,
 3.93,
 2.67,
 4.28,
 5.47,
 3.18,
 6.57,
 2.7199999999999998,
 3.82,
 3.67,
 3.7199999999999998,
 3.63,
 1.27,
 5.82,
 1.5699999999999998,
 3.23,
 3.2800000000000002,
 5.93,
 0.92,
 4.3,
 3.38,
 5.43,
 5.53,
 1.92,
 7.27,
 5.1,
 1.25,
 2.18,
 1.42,
 3.07,
 3.82,
 6.78,
 6.08,
 2.68,
 2.92,
 2.7800000000000002,
 2.2,
 4.72,
 3.5,
 5.97,
 5.18,
 2.02,
 5.02,
 4.88,
 2.33,
 9.55,
 5.38,
 3.4699999999999998,
 5.98,
 4.48,
 4.42,
 3.6,
 2.43,
 3.58,
 3.93,
 6.77,
 4.55,
 6.45,
 6.45,
 5.08,
 1.58,
 6.18,
 4.78,
 6.25,
 10.13,
 5.25,
 6.1,
 2.7,
 8.3,
 4.73,
 5.07,
 3.92,
 2.03,
 3.8,
 7.08,
 8.68,
 7.28,
 3.2800000000000002,
 8.05,
 5.67,
 5.08,
 1.53,
 5.25,
 3.02,
 2.57,
 1.88,
 3.25,
 3.3,
 7.67,
 4.27,
 4.43,
 3.73,
 3.62,
 2.88,
 2.7800000000000002,
 3.88,
 5.65,
 6.4,
 4.07,
 6.62,
 2.98,
 5.25,
 6.13,
 4.9,
 4.43,
 3.77,
 5.42,
 3.3,
 4.35,
 5.23,
 8.22,
 2.55,
 8.37,
 4.23,
 4.02,
 5.17,
 5.62,
 6.98,
 2.98,
 3.98,
 3.17,
 4.72,
 5.53,
 4.02,
 4.9,
 5.05,
 3.23,
 5.22,
 6.97,
 4.47,
 4.4,
 2.12,
 3.92,
 3.52,
 4.92,
 5.78,
 4.03,
 4.75,
 4.12,
 6.97,
 3.48,
 4.03,
 8.2,
 4.88,
 4.88,
 6.12,
 4.3,
 4.38,
 5.05,
 8.1,
 4.62,
 4.02,
 6.17,
 3.55,
 3.93,
 3.37,
 3.33,
 4.47,
 4.32,
 3.38,
 3.75,
 3.93,
 5.27,
 5.75,
 4.52,
 7.02,
 5.38,
 6.48,
 2.15,
 5.17,
 5.07,
 7.13,
 5.9,
 3.63,
 2.02,
 2.5,
 3.77,
 3.23,
 6.25,
 5.57,
 6.25,
 2.43,
 3.35,
 4.05,
 3.57,
 3.62,
 4.45,
 3.8,
 6.23,
 4.45,
 2.73,
 3.43,
 5.35,
 5.08,
 5.48,
 3.0,
 3.33,
 4.12,
 3.68,
 6.3,
 4.82,
 4.85,
 3.43,
 3.0,
 1.77,
 3.5,
 6.93,
 3.57,
 3.43,
 6.22,
 6.48,
 5.93,
 6.67,
 3.67,
 2.95,
 3.15,
 4.23,
 4.48,
 5.65,
 4.83,
 3.32,
 3.07,
 6.53,
 3.2800000000000002,
 7.05,
 4.32,
 8.2,
 6.72,
 5.57,
 4.43,
 5.27,
 2.9699999999999998,
 7.58,
 6.05,
 6.62,
 5.88,
 4.98,
 5.27,
 7.72,
 3.42,
 3.8,
 3.27,
 6.82,
 4.08,
 3.43,
 2.7800000000000002,
 3.92,
 4.12,
 6.35,
 4.93,
 6.37,
 3.4,
 3.52,
 3.32,
 5.12,
 3.7,
 4.88,
 3.9699999999999998,
 1.05,
 3.38,
 4.42,
 4.27,
 5.08,
 2.17,
 4.55,
 4.0,
 5.97,
 6.17,
 2.85,
 3.7,
 5.58,
 4.17,
 6.32,
 4.37,
 3.67,
 2.9699999999999998,
 4.07,
 2.5,
 2.3,
 1.77,
 4.57,
 4.55,
 3.42,
 7.6,
 6.88,
 2.2,
 8.0,
 2.87,
 5.87,
 3.35,
 3.08,
 2.62,
 4.35,
 5.67,
 4.27,
 5.15,
 2.88,
 5.47,
 3.8,
 3.62,
 1.97,
 3.08,
 4.52,
 4.95,
 2.88,
 3.73,
 3.2800000000000002,
 4.43,
 5.75,
 1.72,
 3.67,
 2.4,
 2.68,
 5.68,
 5.48,
 6.23,
 3.15,
 6.67,
 2.98,
 1.63,
 2.9,
 2.33,
 4.58,
 1.18,
 3.17,
 2.7,
 3.22,
 7.2,
 3.58,
 4.85,
 3.58,
 2.35,
 5.35,
 3.73,
 7.0,
 4.38,
 2.45,
 5.47,
 6.62,
 4.75,
 2.6,
 2.8,
 2.15,
 1.73,
 2.9,
 3.02,
 2.1,
 4.78,
 8.83,
 1.52,
 3.68,
 4.58,
 3.22,
 3.77,
 3.98,
 3.57,
 5.57,
 5.05,
 1.87,
 2.95,
 3.43,
 4.15,
 2.98,
 4.7,
 6.0,
 5.52,
 4.67,
 3.0,
 5.15,
 4.33,
 1.92,
 4.73,
 4.17,
 1.42,
 1432.98,
 2.33,
 4.98,
 2.15,
 5.28,
 8.12,
 2.2800000000000002,
 5.02,
 7.18,
 2.75,
 3.77,
 2.65,
 5.73,
 6.38,
 2.02,
 8.03,
 10.63,
 4.88,
 3.08,
 2.62,
 5.45,
 6.17,
 2.33,
 4.3,
 5.03,
 5.57,
 5.1,
 4.0,
 3.95,
 7.0,
 4.67,
 3.02,
 4.05,
 4.85,
 5.72,
 2.27,
 4.78,
 4.95,
 4.93,
 4.75,
 2.55,
 2.73,
 3.05,
 3.2,
 6.18,
 4.73,
 2.73,
 4.25,
 4.92,
 1.85,
 3.33,
 5.25,
 4.7,
 4.23,
 2.82,
 1.6,
 8.08,
 5.35,
 6.88,
 6.5,
 3.85,
 2.03,
 4.05,
 4.15,
 1.87,
 4.08,
 2.08,
 3.13,
 4.43,
 5.88,
 6.37,
 4.05,
 4.15,
 3.8,
 1.95,
 5.05,
 7.88,
 4.62,
 2.55,
 2.6,
 4.73,
 1.58,
 5.82,
 1.45,
 4.22,
 2.7,
 2.2800000000000002,
 2.87,
 8.42,
 4.67,
 3.52,
 4.13,
 8.02,
 4.25,
 6.6,
 1433.88,
 5.75,
 5.15,
 3.95,
 3.73,
 7.43,
 3.65,
 7.8,
 3.7199999999999998,
 4.28,
 3.62,
 5.45,
 5.0,
 3.6,
 2.2,
 1.47,
 4.12,
 3.92,
 4.05,
 2.7199999999999998,
 2.37,
 4.35,
 6.73,
 6.48,
 1.72,
 4.38,
 8.68,
 3.95,
 4.7,
 5.53,
 10.18,
 9.72,
 3.63,
 1.52,
 4.37,
 4.92,
 4.25,
 4.15,
 2.87,
 2.43,
 1.8199999999999998,
 4.48,
 3.65,
 7.77,
 4.88,
 4.25,
 5.08,
 3.35,
 3.88,
 6.53,
 6.05,
 2.48,
 3.93,
 9.47,
 7.98,
 6.42,
 3.88,
 3.8,
 8.27,
 6.25,
 17.13,
 5.58,
 6.9,
 6.1,
 4.38,
 1.78,
 2.9,
 5.68,
 3.65,
 4.1,
 6.12,
 7.58,
 5.63,
 6.58,
 4.65,
 ...]

In [27]:
pandemic_taxi_data.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'zone_PU', 'LocationID_PU',
       'Borough_PU', 'zone_DO', 'LocationID_DO', 'Borough_DO', 'Bronx_PU',
       'Brooklyn_PU', 'Manhattan_PU', 'Queens_PU', 'Staten_Island_PU',
       'Bronx_DO', 'Brooklyn_DO', 'Manhattan_DO', 'Queens_DO',
       'Staten_Island_DO'],
      dtype='object')

In [28]:
pandemic_taxi_data.index

Int64Index([       0,        1,        2,        3,        4,        5,
                   6,        7,        8,        9,
            ...
            16673208, 16673209, 16673210, 16673211, 16673212, 16673213,
            16673214, 16673215, 16673216, 16673217],
           dtype='int64', length=16673218)

In [29]:
pandemic_taxi_data['Mins_In_Ride'] = mins
pandemic_taxi_data.index = pandemic_taxi_data['tpep_pickup_datetime']
pandemic_taxi_data = pandemic_taxi_data.drop(['tpep_pickup_datetime', 'tpep_dropoff_datetime'], axis=1)
pandemic_taxi_data.tail()

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,...,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,,
2020-02-25 14:10:00,NaN,NaN,12.31,NaN,NaN,139,2,NaN,35.60,5.5,...,0,0,1,0,0,0,0,1,0,29.00
2020-04-15 09:05:00,NaN,NaN,13.48,NaN,NaN,139,2,NaN,36.77,0.0,...,0,0,1,0,0,0,0,1,0,38.00
2020-02-19 16:27:23,1.0,1.0,1.50,1.0,N,2,2,1.0,8.50,1.0,...,0,0,1,0,0,0,0,1,0,9.72
2020-03-26 03:06:52,2.0,3.0,0.14,1.0,N,199,199,4.0,-3.50,-0.5,...,0,0,0,0,1,0,0,0,0,2.05
2020-03-26 03:06:52,2.0,3.0,0.14,1.0,N,199,199,2.0,3.50,0.5,...,0,0,0,0,1,0,0,0,0,2.05

In [30]:
pandemic_taxi_data['VendorID'] = pandemic_taxi_data['VendorID'].fillna(0)
pandemic_taxi_data['passenger_count'] = pandemic_taxi_data['passenger_count'].fillna(0)
pandemic_taxi_data['RatecodeID'] = pandemic_taxi_data['RatecodeID'].fillna(0)

In [31]:
pandemic_taxi_data['store_and_fwd_flag'] = pandemic_taxi_data['store_and_fwd_flag'].astype('string')
pandemic_taxi_data['store_and_fwd_flag'] = pandemic_taxi_data['store_and_fwd_flag'].fillna('NK') # Not Known
pandemic_taxi_data['store_and_fwd_flag'] = pandemic_taxi_data['store_and_fwd_flag'].astype('category')

pandemic_taxi_data['payment_type'] = pandemic_taxi_data['payment_type'].fillna(5) # For Unknown

pandemic_taxi_data['Borough_PU'] = pandemic_taxi_data['Borough_PU'].astype('string')
pandemic_taxi_data['Borough_PU'] = pandemic_taxi_data['Borough_PU'].fillna('Unknown')
pandemic_taxi_data['Borough_PU'] = pandemic_taxi_data['Borough_PU'].astype('category')

pandemic_taxi_data['Borough_DO'] = pandemic_taxi_data['Borough_DO'].astype('string')
pandemic_taxi_data['Borough_DO'] = pandemic_taxi_data['Borough_DO'].fillna('Unknown')
pandemic_taxi_data['Borough_DO'] = pandemic_taxi_data['Borough_DO'].astype('category')

In [32]:
pandemic_taxi_data.isna().sum()

VendorID                 0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
zone_PU                  0
LocationID_PU            0
Borough_PU               0
zone_DO                  0
LocationID_DO            0
Borough_DO               0
Bronx_PU                 0
Brooklyn_PU              0
Manhattan_PU             0
Queens_PU                0
Staten_Island_PU         0
Bronx_DO                 0
Brooklyn_DO              0
Manhattan_DO             0
Queens_DO                0
Staten_Island_DO         0
Mins_In_Ride             0
dtype: int64

# 3.2 Checking For Outliers <a id='3.2_Checking_For_Duplicates'></a>

Any duplicates based off VendorID, trip_distance, total_amount should be dropped

In [33]:
pandemic_taxi_data.head()

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,...,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-01 00:28:15,1.0,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,...,0,1,0,0,0,0,1,0,0,4.80
2020-01-01 00:24:22,2.0,1.0,0.56,1.0,N,238,239,1.0,3.5,0.5,...,0,1,0,0,0,0,1,0,0,1.53
2020-01-01 00:46:46,2.0,1.0,0.62,1.0,N,238,239,1.0,4.5,0.5,...,0,1,0,0,0,0,1,0,0,2.52
2020-01-01 00:17:53,1.0,1.0,0.80,1.0,Y,238,239,1.0,5.5,3.0,...,0,1,0,0,0,0,1,0,0,4.90
2020-01-01 00:49:45,2.0,1.0,0.86,1.0,N,238,239,1.0,5.5,0.5,...,0,1,0,0,0,0,1,0,0,4.45

Time to remove wrongly inputted data

In [34]:
list_of_dates = pandemic_taxi_data.index
list_of_dates = list(map(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'), list_of_dates))
list_of_dates

[datetime.datetime(2020, 1, 1, 0, 28, 15),
 datetime.datetime(2020, 1, 1, 0, 24, 22),
 datetime.datetime(2020, 1, 1, 0, 46, 46),
 datetime.datetime(2020, 1, 1, 0, 17, 53),
 datetime.datetime(2020, 1, 1, 0, 49, 45),
 datetime.datetime(2020, 1, 1, 0, 50, 55),
 datetime.datetime(2020, 1, 1, 0, 42, 34),
 datetime.datetime(2020, 1, 1, 0, 37, 41),
 datetime.datetime(2020, 1, 1, 0, 27, 55),
 datetime.datetime(2020, 1, 1, 0, 59),
 datetime.datetime(2020, 1, 1, 0, 28, 18),
 datetime.datetime(2020, 1, 1, 0, 16, 50),
 datetime.datetime(2020, 1, 1, 0, 23, 43),
 datetime.datetime(2020, 1, 1, 0, 36, 50),
 datetime.datetime(2020, 1, 1, 0, 20, 31),
 datetime.datetime(2020, 1, 1, 0, 19, 57),
 datetime.datetime(2020, 1, 1, 0, 27, 31),
 datetime.datetime(2020, 1, 1, 0, 10, 38),
 datetime.datetime(2020, 1, 1, 0, 12, 57),
 datetime.datetime(2020, 1, 1, 0, 41, 20),
 datetime.datetime(2020, 1, 1, 0, 43, 23),
 datetime.datetime(2020, 1, 1, 0, 4, 17),
 datetime.datetime(2020, 1, 1, 0, 27, 9),
 datetime.datetime(2020, 1, 1, 0, 25, 18),
 datetime.datetime(2020, 1, 1, 0, 12, 54),
 datetime.datetime(2020, 1, 1, 0, 4),
 datetime.datetime(2020, 1, 1, 0, 6, 51),
 datetime.datetime(2020, 1, 1, 0, 29, 23),
 datetime.datetime(2020, 1, 1, 0, 40, 22),
 datetime.datetime(2020, 1, 1, 0, 57, 41),
 datetime.datetime(2020, 1, 1, 0, 29, 42),
 datetime.datetime(2020, 1, 1, 0, 29, 51),
 datetime.datetime(2020, 1, 1, 0, 39, 30),
 datetime.datetime(2020, 1, 1, 0, 52, 3),
 datetime.datetime(2020, 1, 1, 0, 31),
 datetime.datetime(2020, 1, 1, 0, 27, 33),
 datetime.datetime(2020, 1, 1, 0, 59, 12),
 datetime.datetime(2020, 1, 1, 0, 36, 6),
 datetime.datetime(2020, 1, 1, 1, 10, 38),
 datetime.datetime(2020, 1, 1, 1, 15, 55),
 datetime.datetime(2020, 1, 1, 1, 30, 39),
 datetime.datetime(2020, 1, 1, 1, 2, 13),
 datetime.datetime(2020, 1, 1, 1, 43, 29),
 datetime.datetime(2020, 1, 1, 1, 6, 54),
 datetime.datetime(2020, 1, 1, 1, 18, 30),
 datetime.datetime(2020, 1, 1, 1, 17, 33),
 datetime.datetime(2020, 1, 1, 1, 16, 49),
 datetime.datetime(2020, 1, 1, 1, 16, 4),
 datetime.datetime(2020, 1, 1, 1, 16, 27),
 datetime.datetime(2020, 1, 1, 1, 58, 24),
 datetime.datetime(2020, 1, 1, 1, 37, 41),
 datetime.datetime(2020, 1, 1, 1, 11, 36),
 datetime.datetime(2020, 1, 1, 1, 55, 50),
 datetime.datetime(2020, 1, 1, 1, 0, 59),
 datetime.datetime(2020, 1, 1, 1, 32, 13),
 datetime.datetime(2020, 1, 1, 1, 22, 41),
 datetime.datetime(2020, 1, 1, 1, 40, 5),
 datetime.datetime(2020, 1, 1, 1, 52, 51),
 datetime.datetime(2020, 1, 1, 1, 8, 18),
 datetime.datetime(2020, 1, 1, 1, 13, 1),
 datetime.datetime(2020, 1, 1, 1, 30, 53),
 datetime.datetime(2020, 1, 1, 1, 33, 52),
 datetime.datetime(2020, 1, 1, 1, 36, 13),
 datetime.datetime(2020, 1, 1, 1, 45, 52),
 datetime.datetime(2020, 1, 1, 1, 30, 19),
 datetime.datetime(2020, 1, 1, 2, 44, 42),
 datetime.datetime(2020, 1, 1, 2, 23, 31),
 datetime.datetime(2020, 1, 1, 2, 52, 4),
 datetime.datetime(2020, 1, 1, 2, 23, 6),
 datetime.datetime(2020, 1, 1, 2, 8, 27),
 datetime.datetime(2020, 1, 1, 2, 0, 14),
 datetime.datetime(2020, 1, 1, 2, 8, 5),
 datetime.datetime(2020, 1, 1, 2, 0, 42),
 datetime.datetime(2020, 1, 1, 2, 17, 58),
 datetime.datetime(2020, 1, 1, 2, 14, 44),
 datetime.datetime(2020, 1, 1, 2, 53, 25),
 datetime.datetime(2020, 1, 1, 2, 32, 59),
 datetime.datetime(2020, 1, 1, 2, 15, 32),
 datetime.datetime(2020, 1, 1, 2, 25, 21),
 datetime.datetime(2020, 1, 1, 2, 25, 50),
 datetime.datetime(2020, 1, 1, 2, 12),
 datetime.datetime(2020, 1, 1, 2, 23, 31),
 datetime.datetime(2020, 1, 1, 3, 42, 46),
 datetime.datetime(2020, 1, 1, 3, 45, 57),
 datetime.datetime(2020, 1, 1, 3, 45, 24),
 datetime.datetime(2020, 1, 1, 3, 36, 49),
 datetime.datetime(2020, 1, 1, 3, 6, 53),
 datetime.datetime(2020, 1, 1, 3, 20, 1),
 datetime.datetime(2020, 1, 1, 4, 38, 26),
 datetime.datetime(2020, 1, 1, 5, 36, 32),
 datetime.datetime(2020, 1, 1, 5, 34, 15),
 datetime.datetime(2020, 1, 1, 6, 37),
 datetime.datetime(2020, 1, 1, 7, 45, 2),
 datetime.datetime(2020, 1, 1, 7, 34, 32),
 datetime.datetime(2020, 1, 1, 7, 41, 21),
 datetime.datetime(2020, 1, 1, 8, 18, 40),
 datetime.datetime(2020, 1, 1, 8, 52, 4),
 datetime.datetime(2020, 1, 1, 8, 55, 14),
 datetime.datetime(2020, 1, 1, 8, 33, 18),
 datetime.datetime(2020, 1, 1, 9, 30, 37),
 datetime.datetime(2020, 1, 1, 9, 19, 18),
 datetime.datetime(2020, 1, 1, 9, 49, 13),
 datetime.datetime(2020, 1, 1, 9, 14, 48),
 datetime.datetime(2020, 1, 1, 9, 30, 26),
 datetime.datetime(2020, 1, 1, 9, 0, 34),
 datetime.datetime(2020, 1, 1, 9, 14, 10),
 datetime.datetime(2020, 1, 1, 9, 12, 41),
 datetime.datetime(2020, 1, 1, 9, 4, 54),
 datetime.datetime(2020, 1, 1, 9, 58, 55),
 datetime.datetime(2020, 1, 1, 9, 8, 32),
 datetime.datetime(2020, 1, 1, 9, 42, 15),
 datetime.datetime(2020, 1, 1, 9, 3, 50),
 datetime.datetime(2020, 1, 1, 9, 54),
 datetime.datetime(2020, 1, 1, 10, 48, 43),
 datetime.datetime(2020, 1, 1, 10, 3, 33),
 datetime.datetime(2020, 1, 1, 10, 46, 11),
 datetime.datetime(2020, 1, 1, 10, 5, 3),
 datetime.datetime(2020, 1, 1, 10, 51, 40),
 datetime.datetime(2020, 1, 1, 10, 28, 46),
 datetime.datetime(2020, 1, 1, 10, 44, 12),
 datetime.datetime(2020, 1, 1, 10, 24),
 datetime.datetime(2020, 1, 1, 10, 35, 58),
 datetime.datetime(2020, 1, 1, 10, 48, 35),
 datetime.datetime(2020, 1, 1, 10, 33, 32),
 datetime.datetime(2020, 1, 1, 10, 39, 1),
 datetime.datetime(2020, 1, 1, 10, 44, 49),
 datetime.datetime(2020, 1, 1, 10, 55, 24),
 datetime.datetime(2020, 1, 1, 10, 53, 15),
 datetime.datetime(2020, 1, 1, 10, 3, 6),
 datetime.datetime(2020, 1, 1, 10, 13, 2),
 datetime.datetime(2020, 1, 1, 10, 2, 24),
 datetime.datetime(2020, 1, 1, 10, 1, 57),
 datetime.datetime(2020, 1, 1, 10, 45, 45),
 datetime.datetime(2020, 1, 1, 10, 9, 48),
 datetime.datetime(2020, 1, 1, 10, 31, 24),
 datetime.datetime(2020, 1, 1, 10, 44, 34),
 datetime.datetime(2020, 1, 1, 10, 46, 18),
 datetime.datetime(2020, 1, 1, 10, 17, 34),
 datetime.datetime(2020, 1, 1, 10, 10, 20),
 datetime.datetime(2020, 1, 1, 11, 54, 44),
 datetime.datetime(2020, 1, 1, 11, 6, 5),
 datetime.datetime(2020, 1, 1, 11, 49, 4),
 datetime.datetime(2020, 1, 1, 11, 7, 4),
 datetime.datetime(2020, 1, 1, 11, 27, 51),
 datetime.datetime(2020, 1, 1, 11, 52, 16),
 datetime.datetime(2020, 1, 1, 11, 3, 4),
 datetime.datetime(2020, 1, 1, 11, 44, 9),
 datetime.datetime(2020, 1, 1, 11, 36, 18),
 datetime.datetime(2020, 1, 1, 11, 54, 45),
 datetime.datetime(2020, 1, 1, 11, 35, 31),
 datetime.datetime(2020, 1, 1, 11, 15, 44),
 datetime.datetime(2020, 1, 1, 11, 50, 2),
 datetime.datetime(2020, 1, 1, 11, 54, 16),
 datetime.datetime(2020, 1, 1, 11, 41, 23),
 datetime.datetime(2020, 1, 1, 11, 59, 46),
 datetime.datetime(2020, 1, 1, 11, 32, 9),
 datetime.datetime(2020, 1, 1, 11, 25, 33),
 datetime.datetime(2020, 1, 1, 11, 53, 3),
 datetime.datetime(2020, 1, 1, 11, 11, 28),
 datetime.datetime(2020, 1, 1, 11, 19, 50),
 datetime.datetime(2020, 1, 1, 11, 11, 17),
 datetime.datetime(2020, 1, 1, 11, 53, 15),
 datetime.datetime(2020, 1, 1, 12, 32, 30),
 datetime.datetime(2020, 1, 1, 12, 5, 51),
 datetime.datetime(2020, 1, 1, 12, 18, 16),
 datetime.datetime(2020, 1, 1, 12, 28, 17),
 datetime.datetime(2020, 1, 1, 12, 13, 11),
 datetime.datetime(2020, 1, 1, 12, 10, 35),
 datetime.datetime(2020, 1, 1, 12, 44, 7),
 datetime.datetime(2020, 1, 1, 12, 43, 40),
 datetime.datetime(2020, 1, 1, 12, 51, 18),
 datetime.datetime(2020, 1, 1, 12, 6, 37),
 datetime.datetime(2020, 1, 1, 12, 6, 23),
 datetime.datetime(2020, 1, 1, 12, 32, 59),
 datetime.datetime(2020, 1, 1, 12, 21, 41),
 datetime.datetime(2020, 1, 1, 12, 10, 27),
 datetime.datetime(2020, 1, 1, 12, 18, 28),
 datetime.datetime(2020, 1, 1, 12, 21, 40),
 datetime.datetime(2020, 1, 1, 11, 59, 27),
 datetime.datetime(2020, 1, 1, 11, 51, 46),
 datetime.datetime(2020, 1, 1, 12, 56, 24),
 datetime.datetime(2020, 1, 1, 12, 19, 49),
 datetime.datetime(2020, 1, 1, 12, 9, 14),
 datetime.datetime(2020, 1, 1, 12, 27, 57),
 datetime.datetime(2020, 1, 1, 12, 15, 15),
 datetime.datetime(2020, 1, 1, 12, 47, 31),
 datetime.datetime(2020, 1, 1, 12, 17, 16),
 datetime.datetime(2020, 1, 1, 12, 5, 1),
 datetime.datetime(2020, 1, 1, 12, 53, 46),
 datetime.datetime(2020, 1, 1, 12, 33, 40),
 datetime.datetime(2020, 1, 1, 12, 53, 10),
 datetime.datetime(2020, 1, 1, 12, 47, 26),
 datetime.datetime(2020, 1, 1, 12, 43, 58),
 datetime.datetime(2020, 1, 1, 12, 23, 4),
 datetime.datetime(2020, 1, 1, 12, 26, 11),
 datetime.datetime(2020, 1, 1, 12, 47, 11),
 datetime.datetime(2020, 1, 1, 12, 6, 35),
 datetime.datetime(2020, 1, 1, 12, 39, 51),
 datetime.datetime(2020, 1, 1, 12, 42, 25),
 datetime.datetime(2020, 1, 1, 13, 14, 53),
 datetime.datetime(2020, 1, 1, 13, 9, 33),
 datetime.datetime(2020, 1, 1, 13, 50, 50),
 datetime.datetime(2020, 1, 1, 13, 58, 6),
 datetime.datetime(2020, 1, 1, 13, 36, 54),
 datetime.datetime(2020, 1, 1, 13, 45, 26),
 datetime.datetime(2020, 1, 1, 13, 45, 22),
 datetime.datetime(2020, 1, 1, 12, 59, 22),
 datetime.datetime(2020, 1, 1, 13, 23, 39),
 datetime.datetime(2020, 1, 1, 13, 11, 23),
 datetime.datetime(2020, 1, 1, 13, 14, 49),
 datetime.datetime(2020, 1, 1, 13, 36, 28),
 datetime.datetime(2020, 1, 1, 13, 46, 23),
 datetime.datetime(2020, 1, 1, 13, 48, 41),
 datetime.datetime(2020, 1, 1, 13, 18, 35),
 datetime.datetime(2020, 1, 1, 13, 1, 1),
 datetime.datetime(2020, 1, 1, 13, 44, 14),
 datetime.datetime(2020, 1, 1, 13, 32, 14),
 datetime.datetime(2020, 1, 1, 13, 47, 6),
 datetime.datetime(2020, 1, 1, 13, 15, 16),
 datetime.datetime(2020, 1, 1, 13, 38, 45),
 datetime.datetime(2020, 1, 1, 13, 42, 18),
 datetime.datetime(2020, 1, 1, 13, 4, 17),
 datetime.datetime(2020, 1, 1, 13, 38, 7),
 datetime.datetime(2020, 1, 1, 13, 28),
 datetime.datetime(2020, 1, 1, 13, 1, 25),
 datetime.datetime(2020, 1, 1, 13, 19, 52),
 datetime.datetime(2020, 1, 1, 13, 48, 26),
 datetime.datetime(2020, 1, 1, 13, 46, 53),
 datetime.datetime(2020, 1, 1, 14, 53, 24),
 datetime.datetime(2020, 1, 1, 14, 12, 31),
 datetime.datetime(2020, 1, 1, 14, 0, 34),
 datetime.datetime(2020, 1, 1, 14, 42, 6),
 datetime.datetime(2020, 1, 1, 14, 55, 59),
 datetime.datetime(2020, 1, 1, 14, 33, 30),
 datetime.datetime(2020, 1, 1, 14, 31, 47),
 datetime.datetime(2020, 1, 1, 14, 44, 20),
 datetime.datetime(2020, 1, 1, 14, 16),
 datetime.datetime(2020, 1, 1, 13, 59, 22),
 datetime.datetime(2020, 1, 1, 14, 11, 18),
 datetime.datetime(2020, 1, 1, 14, 21, 20),
 datetime.datetime(2020, 1, 1, 14, 9, 36),
 datetime.datetime(2020, 1, 1, 14, 56, 25),
 datetime.datetime(2020, 1, 1, 14, 42, 41),
 datetime.datetime(2020, 1, 1, 14, 27, 55),
 datetime.datetime(2020, 1, 1, 14, 11, 53),
 datetime.datetime(2020, 1, 1, 14, 20, 39),
 datetime.datetime(2020, 1, 1, 14, 17, 23),
 datetime.datetime(2020, 1, 1, 14, 22, 42),
 datetime.datetime(2020, 1, 1, 14, 5, 23),
 datetime.datetime(2020, 1, 1, 14, 27, 2),
 datetime.datetime(2020, 1, 1, 14, 19),
 datetime.datetime(2020, 1, 1, 14, 58, 11),
 datetime.datetime(2020, 1, 1, 14, 8, 27),
 datetime.datetime(2020, 1, 1, 15, 31, 40),
 datetime.datetime(2020, 1, 1, 15, 56, 3),
 datetime.datetime(2020, 1, 1, 15, 20, 17),
 datetime.datetime(2020, 1, 1, 15, 32),
 datetime.datetime(2020, 1, 1, 15, 16, 45),
 datetime.datetime(2020, 1, 1, 15, 8, 41),
 datetime.datetime(2020, 1, 1, 15, 54, 26),
 datetime.datetime(2020, 1, 1, 15, 28, 56),
 datetime.datetime(2020, 1, 1, 15, 47, 8),
 datetime.datetime(2020, 1, 1, 15, 27, 59),
 datetime.datetime(2020, 1, 1, 15, 2, 30),
 datetime.datetime(2020, 1, 1, 15, 24, 23),
 datetime.datetime(2020, 1, 1, 15, 19, 25),
 datetime.datetime(2020, 1, 1, 15, 22, 56),
 datetime.datetime(2020, 1, 1, 15, 35, 18),
 datetime.datetime(2020, 1, 1, 15, 10, 3),
 datetime.datetime(2020, 1, 1, 15, 47, 30),
 datetime.datetime(2020, 1, 1, 15, 51, 52),
 datetime.datetime(2020, 1, 1, 15, 15),
 datetime.datetime(2020, 1, 1, 15, 12, 5),
 datetime.datetime(2020, 1, 1, 15, 8, 12),
 datetime.datetime(2020, 1, 1, 15, 24, 50),
 datetime.datetime(2020, 1, 1, 15, 38, 6),
 datetime.datetime(2020, 1, 1, 15, 55, 52),
 datetime.datetime(2020, 1, 1, 16, 51, 28),
 datetime.datetime(2020, 1, 1, 16, 44, 33),
 datetime.datetime(2020, 1, 1, 16, 2, 22),
 datetime.datetime(2020, 1, 1, 16, 33, 50),
 datetime.datetime(2020, 1, 1, 16, 8, 25),
 datetime.datetime(2020, 1, 1, 16, 19, 49),
 datetime.datetime(2020, 1, 1, 16, 7, 16),
 datetime.datetime(2020, 1, 1, 16, 54, 28),
 datetime.datetime(2020, 1, 1, 16, 6, 31),
 datetime.datetime(2020, 1, 1, 16, 27, 1),
 datetime.datetime(2020, 1, 1, 16, 26, 56),
 datetime.datetime(2020, 1, 1, 16, 31, 14),
 datetime.datetime(2020, 1, 1, 16, 53, 23),
 datetime.datetime(2020, 1, 1, 17, 51, 28),
 datetime.datetime(2020, 1, 1, 17, 28, 35),
 datetime.datetime(2020, 1, 1, 17, 41, 37),
 datetime.datetime(2020, 1, 1, 17, 42, 54),
 datetime.datetime(2020, 1, 1, 17, 57, 48),
 datetime.datetime(2020, 1, 1, 17, 55, 8),
 datetime.datetime(2020, 1, 1, 16, 58),
 datetime.datetime(2020, 1, 1, 17, 51, 31),
 datetime.datetime(2020, 1, 1, 17, 45, 36),
 datetime.datetime(2020, 1, 1, 17, 21, 30),
 datetime.datetime(2020, 1, 1, 17, 34, 11),
 datetime.datetime(2020, 1, 1, 17, 27, 53),
 datetime.datetime(2020, 1, 1, 17, 2, 12),
 datetime.datetime(2020, 1, 1, 16, 59, 9),
 datetime.datetime(2020, 1, 1, 17, 43, 34),
 datetime.datetime(2020, 1, 1, 17, 53, 21),
 datetime.datetime(2020, 1, 1, 17, 33, 5),
 datetime.datetime(2020, 1, 1, 17, 57, 42),
 datetime.datetime(2020, 1, 1, 17, 31, 5),
 datetime.datetime(2020, 1, 1, 17, 2, 27),
 datetime.datetime(2020, 1, 1, 17, 31, 14),
 datetime.datetime(2020, 1, 1, 17, 26, 23),
 datetime.datetime(2020, 1, 1, 17, 53, 34),
 datetime.datetime(2020, 1, 1, 17, 10, 8),
 datetime.datetime(2020, 1, 1, 17, 2, 8),
 datetime.datetime(2020, 1, 1, 17, 41, 42),
 datetime.datetime(2020, 1, 1, 17, 43, 43),
 datetime.datetime(2020, 1, 1, 17, 49, 26),
 datetime.datetime(2020, 1, 1, 17, 13, 32),
 datetime.datetime(2020, 1, 1, 17, 9, 18),
 datetime.datetime(2020, 1, 1, 17, 41),
 datetime.datetime(2020, 1, 1, 18, 43, 50),
 datetime.datetime(2020, 1, 1, 18, 54, 43),
 datetime.datetime(2020, 1, 1, 18, 4, 14),
 datetime.datetime(2020, 1, 1, 18, 48, 45),
 datetime.datetime(2020, 1, 1, 18, 4, 17),
 datetime.datetime(2020, 1, 1, 18, 37, 50),
 datetime.datetime(2020, 1, 1, 18, 50, 13),
 datetime.datetime(2020, 1, 1, 18, 25, 34),
 datetime.datetime(2020, 1, 1, 18, 27, 55),
 datetime.datetime(2020, 1, 1, 18, 10, 24),
 datetime.datetime(2020, 1, 1, 18, 59, 19),
 datetime.datetime(2020, 1, 1, 18, 56, 38),
 datetime.datetime(2020, 1, 1, 17, 53, 36),
 datetime.datetime(2020, 1, 1, 18, 36, 58),
 datetime.datetime(2020, 1, 1, 18, 1, 20),
 datetime.datetime(2020, 1, 1, 18, 18, 59),
 datetime.datetime(2020, 1, 1, 18, 11, 50),
 datetime.datetime(2020, 1, 1, 18, 32, 31),
 datetime.datetime(2020, 1, 1, 18, 21, 37),
 datetime.datetime(2020, 1, 1, 18, 34, 21),
 datetime.datetime(2020, 1, 1, 19, 23, 22),
 datetime.datetime(2020, 1, 1, 19, 50, 28),
 datetime.datetime(2020, 1, 1, 19, 31, 20),
 datetime.datetime(2020, 1, 1, 19, 34, 56),
 datetime.datetime(2020, 1, 1, 19, 6, 38),
 datetime.datetime(2020, 1, 1, 19, 23, 15),
 datetime.datetime(2020, 1, 1, 19, 12, 6),
 datetime.datetime(2020, 1, 1, 19, 27, 13),
 datetime.datetime(2020, 1, 1, 19, 13, 30),
 datetime.datetime(2020, 1, 1, 19, 32),
 datetime.datetime(2020, 1, 1, 19, 22, 27),
 datetime.datetime(2020, 1, 1, 20, 55, 8),
 datetime.datetime(2020, 1, 1, 20, 44, 38),
 datetime.datetime(2020, 1, 1, 20, 46, 58),
 datetime.datetime(2020, 1, 1, 20, 16, 16),
 datetime.datetime(2020, 1, 1, 20, 19, 27),
 datetime.datetime(2020, 1, 1, 20, 26, 35),
 datetime.datetime(2020, 1, 1, 20, 11, 19),
 datetime.datetime(2020, 1, 1, 20, 38, 5),
 datetime.datetime(2020, 1, 1, 20, 43, 1),
 datetime.datetime(2020, 1, 1, 20, 51, 41),
 datetime.datetime(2020, 1, 1, 20, 15),
 datetime.datetime(2020, 1, 1, 21, 37, 8),
 datetime.datetime(2020, 1, 1, 21, 20, 52),
 datetime.datetime(2020, 1, 1, 21, 38, 9),
 datetime.datetime(2020, 1, 1, 21, 17, 38),
 datetime.datetime(2020, 1, 1, 21, 18, 46),
 datetime.datetime(2020, 1, 1, 21, 17, 58),
 datetime.datetime(2020, 1, 1, 21, 48, 55),
 datetime.datetime(2020, 1, 1, 21, 36, 49),
 datetime.datetime(2020, 1, 1, 21, 1, 51),
 datetime.datetime(2020, 1, 1, 21, 14, 33),
 datetime.datetime(2020, 1, 1, 21, 31, 48),
 datetime.datetime(2020, 1, 1, 22, 53, 3),
 datetime.datetime(2020, 1, 1, 22, 20, 13),
 datetime.datetime(2020, 1, 1, 22, 23, 22),
 datetime.datetime(2020, 1, 1, 22, 16, 5),
 datetime.datetime(2020, 1, 1, 23, 4, 32),
 datetime.datetime(2020, 1, 1, 23, 1, 45),
 datetime.datetime(2020, 1, 1, 23, 19, 23),
 datetime.datetime(2020, 1, 1, 23, 8, 6),
 datetime.datetime(2020, 1, 1, 23, 4, 21),
 datetime.datetime(2020, 1, 1, 23, 12, 9),
 datetime.datetime(2020, 1, 2, 0, 15, 34),
 datetime.datetime(2020, 1, 2, 3, 48, 11),
 datetime.datetime(2020, 1, 2, 5, 58, 41),
 datetime.datetime(2020, 1, 2, 5, 46, 18),
 datetime.datetime(2020, 1, 2, 5, 1, 21),
 datetime.datetime(2020, 1, 2, 5, 50, 29),
 datetime.datetime(2020, 1, 2, 6, 2, 26),
 datetime.datetime(2020, 1, 2, 7, 1, 46),
 datetime.datetime(2020, 1, 2, 7, 57, 32),
 datetime.datetime(2020, 1, 2, 7, 43, 10),
 datetime.datetime(2020, 1, 2, 7, 9, 5),
 datetime.datetime(2020, 1, 2, 7, 4, 20),
 datetime.datetime(2020, 1, 2, 7, 54, 44),
 datetime.datetime(2020, 1, 2, 7, 34, 35),
 datetime.datetime(2020, 1, 2, 7, 21, 51),
 datetime.datetime(2020, 1, 2, 7, 57, 45),
 datetime.datetime(2020, 1, 2, 7, 16, 22),
 datetime.datetime(2020, 1, 2, 7, 12, 46),
 datetime.datetime(2020, 1, 2, 7, 13, 23),
 datetime.datetime(2020, 1, 2, 7, 34, 55),
 datetime.datetime(2020, 1, 2, 7, 42, 6),
 datetime.datetime(2020, 1, 2, 8, 8, 58),
 datetime.datetime(2020, 1, 2, 8, 40, 37),
 datetime.datetime(2020, 1, 2, 8, 10, 12),
 datetime.datetime(2020, 1, 2, 8, 52, 55),
 datetime.datetime(2020, 1, 2, 8, 44, 28),
 datetime.datetime(2020, 1, 2, 8, 6, 30),
 datetime.datetime(2020, 1, 2, 8, 27, 29),
 datetime.datetime(2020, 1, 2, 8, 57, 59),
 datetime.datetime(2020, 1, 2, 8, 27, 58),
 datetime.datetime(2020, 1, 2, 8, 53, 40),
 datetime.datetime(2020, 1, 2, 8, 20, 10),
 datetime.datetime(2020, 1, 2, 8, 38, 6),
 datetime.datetime(2020, 1, 2, 8, 16, 8),
 datetime.datetime(2020, 1, 2, 8, 35, 34),
 datetime.datetime(2020, 1, 2, 8, 18, 25),
 datetime.datetime(2020, 1, 2, 8, 42, 40),
 datetime.datetime(2020, 1, 2, 8, 14, 18),
 datetime.datetime(2020, 1, 2, 8, 24, 6),
 datetime.datetime(2020, 1, 2, 8, 53, 52),
 datetime.datetime(2020, 1, 2, 8, 14, 31),
 datetime.datetime(2020, 1, 2, 8, 38, 40),
 datetime.datetime(2020, 1, 2, 8, 53, 37),
 datetime.datetime(2020, 1, 2, 8, 41, 51),
 datetime.datetime(2020, 1, 2, 8, 46, 14),
 datetime.datetime(2020, 1, 2, 8, 33, 2),
 datetime.datetime(2020, 1, 2, 8, 12, 57),
 datetime.datetime(2020, 1, 2, 8, 46, 11),
 datetime.datetime(2020, 1, 2, 8, 55, 13),
 datetime.datetime(2020, 1, 2, 8, 2, 19),
 datetime.datetime(2020, 1, 2, 9, 44),
 datetime.datetime(2020, 1, 2, 9, 27, 27),
 datetime.datetime(2020, 1, 2, 9, 20, 24),
 datetime.datetime(2020, 1, 2, 9, 24, 11),
 datetime.datetime(2020, 1, 2, 9, 7, 48),
 datetime.datetime(2020, 1, 2, 9, 38, 30),
 datetime.datetime(2020, 1, 2, 9, 48, 43),
 datetime.datetime(2020, 1, 2, 9, 20, 30),
 datetime.datetime(2020, 1, 2, 9, 47, 58),
 datetime.datetime(2020, 1, 2, 9, 14, 34),
 datetime.datetime(2020, 1, 2, 9, 25, 10),
 datetime.datetime(2020, 1, 2, 9, 18, 36),
 datetime.datetime(2020, 1, 2, 9, 33, 49),
 datetime.datetime(2020, 1, 2, 9, 9, 1),
 datetime.datetime(2020, 1, 2, 9, 50, 58),
 datetime.datetime(2020, 1, 2, 9, 45, 45),
 datetime.datetime(2020, 1, 2, 9, 38, 36),
 datetime.datetime(2020, 1, 2, 9, 9, 57),
 datetime.datetime(2020, 1, 2, 9, 4, 31),
 datetime.datetime(2020, 1, 2, 9, 56, 55),
 datetime.datetime(2020, 1, 2, 9, 42, 52),
 datetime.datetime(2020, 1, 2, 9, 59, 7),
 datetime.datetime(2020, 1, 2, 9, 15, 40),
 datetime.datetime(2020, 1, 2, 9, 32, 48),
 datetime.datetime(2020, 1, 2, 9, 50, 46),
 datetime.datetime(2020, 1, 2, 9, 2, 15),
 datetime.datetime(2020, 1, 2, 9, 26, 20),
 datetime.datetime(2020, 1, 2, 9, 2, 43),
 datetime.datetime(2020, 1, 2, 9, 29, 55),

In [35]:
# There appears to be the years 2008, 2009, 2003, and 2019 and erroneous dates in here so I will remove them.
pandemic_taxi_data.index = list_of_dates
indicies = []
for i in range(len(pandemic_taxi_data)):
    if pandemic_taxi_data.index[i].year != 2020 or pandemic_taxi_data.index[i].month > 6:
        indicies.append(pandemic_taxi_data.index[i])
indicies

[Timestamp('2019-12-31 23:53:15'),
 Timestamp('2020-07-01 00:02:40'),
 Timestamp('2009-01-01 06:30:48'),
 Timestamp('2019-12-31 16:33:41'),
 Timestamp('2019-12-31 15:30:40'),
 Timestamp('2019-12-31 16:12:01'),
 Timestamp('2008-12-31 23:02:50'),
 Timestamp('2019-12-31 23:51:54'),
 Timestamp('2019-12-31 15:57:03'),
 Timestamp('2019-12-31 23:36:27'),
 Timestamp('2019-12-31 23:59:16'),
 Timestamp('2009-01-01 12:17:46'),
 Timestamp('2009-01-01 00:03:46'),
 Timestamp('2019-12-31 15:34:11'),
 Timestamp('2019-12-31 23:11:17'),
 Timestamp('2019-12-31 23:30:07'),
 Timestamp('2008-12-31 23:02:19'),
 Timestamp('2020-07-01 00:00:10'),
 Timestamp('2009-01-01 01:22:35'),
 Timestamp('2019-12-31 16:01:57'),
 Timestamp('2019-12-31 23:32:41'),
 Timestamp('2020-07-31 18:50:41'),
 Timestamp('2019-12-31 23:46:56'),
 Timestamp('2019-12-31 23:21:46'),
 Timestamp('2009-01-01 01:35:59'),
 Timestamp('2019-12-31 19:35:55'),
 Timestamp('2019-12-31 16:14:16'),
 Timestamp('2019-12-31 19:19:39'),
 Timestamp('2008-12-31 23:17:15'),
 Timestamp('2020-07-10 11:25:13'),
 Timestamp('2009-01-01 00:02:59'),
 Timestamp('2019-12-31 23:59:24'),
 Timestamp('2008-12-31 23:35:00'),
 Timestamp('2019-12-31 14:15:51'),
 Timestamp('2009-01-01 00:08:35'),
 Timestamp('2009-01-01 01:26:40'),
 Timestamp('2019-12-31 16:24:48'),
 Timestamp('2019-12-31 14:20:03'),
 Timestamp('2009-01-01 00:08:44'),
 Timestamp('2020-09-20 00:55:23'),
 Timestamp('2019-12-31 23:48:07'),
 Timestamp('2020-08-08 08:14:14'),
 Timestamp('2020-10-11 08:48:01'),
 Timestamp('2019-12-31 21:39:23'),
 Timestamp('2019-12-31 23:51:04'),
 Timestamp('2009-01-01 04:19:26'),
 Timestamp('2019-12-31 23:55:36'),
 Timestamp('2019-12-31 23:15:27'),
 Timestamp('2019-12-31 19:21:45'),
 Timestamp('2009-01-01 02:06:52'),
 Timestamp('2020-11-01 15:41:04'),
 Timestamp('2019-12-31 15:48:38'),
 Timestamp('2019-12-31 23:44:29'),
 Timestamp('2009-01-01 01:40:46'),
 Timestamp('2009-01-01 00:08:52'),
 Timestamp('2020-09-20 00:32:13'),
 Timestamp('2020-07-19 21:46:42'),
 Timestamp('2009-01-01 00:11:20'),
 Timestamp('2019-12-31 23:57:21'),
 Timestamp('2019-12-31 23:58:19'),
 Timestamp('2020-11-01 15:15:05'),
 Timestamp('2009-01-01 02:19:49'),
 Timestamp('2019-12-31 23:57:10'),
 Timestamp('2009-01-01 02:01:13'),
 Timestamp('2009-01-01 00:49:33'),
 Timestamp('2019-12-31 16:18:17'),
 Timestamp('2019-12-31 13:58:16'),
 Timestamp('2019-12-31 23:50:40'),
 Timestamp('2019-12-31 23:53:57'),
 Timestamp('2009-01-01 00:29:15'),
 Timestamp('2019-12-31 23:54:29'),
 Timestamp('2009-01-01 16:33:32'),
 Timestamp('2020-07-18 00:10:28'),
 Timestamp('2008-12-31 23:39:37'),
 Timestamp('2019-12-31 16:07:53'),
 Timestamp('2019-12-31 19:04:33'),
 Timestamp('2009-01-01 02:13:08'),
 Timestamp('2019-12-31 15:33:50'),
 Timestamp('2019-12-31 19:40:23'),
 Timestamp('2019-12-31 23:59:09'),
 Timestamp('2009-01-01 04:18:34'),
 Timestamp('2019-12-31 13:44:49'),
 Timestamp('2008-12-31 23:03:48'),
 Timestamp('2019-12-31 23:57:55'),
 Timestamp('2020-08-06 07:20:56'),
 Timestamp('2020-07-10 11:03:49'),
 Timestamp('2009-01-01 00:26:06'),
 Timestamp('2020-07-10 11:34:11'),
 Timestamp('2019-12-31 23:52:43'),
 Timestamp('2009-01-01 10:04:58'),
 Timestamp('2020-07-10 10:56:46'),
 Timestamp('2019-12-31 19:10:16'),
 Timestamp('2019-12-31 23:26:25'),
 Timestamp('2019-12-31 23:26:25'),
 Timestamp('2019-12-31 23:41:02'),
 Timestamp('2019-12-31 18:21:19'),
 Timestamp('2008-12-31 23:34:13'),
 Timestamp('2009-01-01 01:12:10'),
 Timestamp('2019-12-31 23:45:21'),
 Timestamp('2019-12-31 23:39:51'),
 Timestamp('2019-12-31 23:58:17'),
 Timestamp('2019-12-31 19:12:36'),
 Timestamp('2019-12-31 15:37:32'),
 Timestamp('2020-07-18 00:38:57'),
 Timestamp('2019-12-31 19:38:47'),
 Timestamp('2019-12-31 19:20:53'),
 Timestamp('2019-12-31 13:26:03'),
 Timestamp('2020-07-11 12:57:52'),
 Timestamp('2009-01-01 00:57:36'),
 Timestamp('2019-12-31 19:19:23'),
 Timestamp('2009-01-01 00:35:02'),
 Timestamp('2009-01-01 01:04:51'),
 Timestamp('2019-12-31 23:59:19'),
 Timestamp('2019-12-31 22:11:41'),
 Timestamp('2019-12-31 22:25:34'),
 Timestamp('2008-12-31 23:03:44'),
 Timestamp('2019-12-31 19:39:44'),
 Timestamp('2019-12-31 23:58:20'),
 Timestamp('2009-01-01 00:48:28'),
 Timestamp('2019-12-31 23:12:37'),
 Timestamp('2019-12-31 14:08:25'),
 Timestamp('2019-12-31 23:57:51'),
 Timestamp('2008-12-31 23:11:02'),
 Timestamp('2009-01-01 01:42:46'),
 Timestamp('2019-12-31 23:38:55'),
 Timestamp('2020-08-27 15:16:15'),
 Timestamp('2019-12-31 23:59:13'),
 Timestamp('2019-12-31 16:14:49'),
 Timestamp('2019-12-31 23:58:55'),
 Timestamp('2009-01-01 04:46:43'),
 Timestamp('2019-12-31 23:59:51'),
 Timestamp('2019-12-31 23:05:13'),
 Timestamp('2019-12-31 23:31:17'),
 Timestamp('2019-12-31 23:58:30'),
 Timestamp('2019-12-31 23:55:00'),
 Timestamp('2009-01-01 01:42:32'),
 Timestamp('2020-07-11 12:51:24'),
 Timestamp('2020-07-10 10:46:19'),
 Timestamp('2019-12-31 23:13:17'),
 Timestamp('2008-12-31 23:05:29'),
 Timestamp('2009-01-01 00:01:53'),
 Timestamp('2019-12-31 23:56:19'),
 Timestamp('2019-12-31 23:59:40'),
 Timestamp('2019-12-31 23:59:44'),
 Timestamp('2019-12-31 15:44:13'),
 Timestamp('2019-12-31 23:59:33'),
 Timestamp('2008-12-31 23:27:32'),
 Timestamp('2020-09-20 00:40:49'),
 Timestamp('2019-12-31 23:56:09'),
 Timestamp('2009-01-01 02:18:03'),
 Timestamp('2019-12-31 19:15:06'),
 Timestamp('2009-01-01 01:17:10'),
 Timestamp('2021-01-02 00:22:00'),
 Timestamp('2008-12-31 23:03:42'),
 Timestamp('2009-01-01 04:32:00'),
 Timestamp('2019-12-31 23:52:26'),
 Timestamp('2019-12-31 23:58:55'),
 Timestamp('2009-01-01 02:01:16'),
 Timestamp('2019-12-31 23:57:54'),
 Timestamp('2019-12-31 19:12:45'),
 Timestamp('2019-12-31 19:25:00'),
 Timestamp('2019-12-31 23:59:56'),
 Timestamp('2019-12-31 23:53:50'),
 Timestamp('2019-12-31 16:11:56'),
 Timestamp('2020-11-01 15:26:33'),
 Timestamp('2019-12-31 15:49:04'),
 Timestamp('2009-01-01 00:06:19'),
 Timestamp('2019-12-31 19:50:22'),
 Timestamp('2019-12-31 23:59:46'),
 Timestamp('2019-12-31 23:59:50'),
 Timestamp('2019-12-31 23:45:20'),
 Timestamp('2019-12-31 23:27:57'),
 Timestamp('2019-12-31 23:59:48'),
 Timestamp('2009-01-01 00:05:16'),
 Timestamp('2009-01-01 11:35:05'),
 Timestamp('2009-01-01 00:54:39'),
 Timestamp('2009-01-01 00:02:37'),
 Timestamp('2009-01-01 00:29:44'),
 Timestamp('2008-12-31 23:04:15'),
 Timestamp('2009-01-01 00:52:20'),
 Timestamp('2019-12-31 15:59:29'),
 Timestamp('2009-01-01 00:17:41'),
 Timestamp('2009-01-01 00:42:36'),
 Timestamp('2009-01-01 00:02:27'),
 Timestamp('2009-01-01 01:28:26'),
 Timestamp('2019-12-31 16:34:36'),
 Timestamp('2019-12-31 23:21:21'),
 Timestamp('2009-01-01 00:19:46'),
 Timestamp('2008-12-31 23:02:48'),
 Timestamp('2019-12-31 19:59:35'),
 Timestamp('2019-12-31 19:27:02'),
 Timestamp('2008-12-31 23:24:11'),
 Timestamp('2019-12-31 23:55:32'),
 Timestamp('2019-12-31 19:27:10'),
 Timestamp('2008-12-31 23:06:13'),
 Timestamp('2020-08-06 07:01:14'),
 Timestamp('2019-12-31 20:05:25'),
 Timestamp('2009-01-01 10:31:39'),
 Timestamp('2019-12-31 23:58:53'),
 Timestamp('2021-01-02 00:44:08'),
 Timestamp('2019-12-31 23:52:04'),
 Timestamp('2021-01-02 01:12:10'),
 Timestamp('2019-12-31 19:13:46'),
 Timestamp('2019-12-31 19:26:08'),
 Timestamp('2019-12-31 23:57:23'),
 Timestamp('2019-12-31 14:01:22'),
 Timestamp('2008-12-31 23:05:47'),
 Timestamp('2019-12-31 20:06:21'),
 Timestamp('2019-12-31 15:33:38'),
 Timestamp('2019-12-31 15:33:38'),
 Timestamp('2008-12-31 22:20:23'),
 Timestamp('2019-12-31 23:52:24'),
 Timestamp('2019-12-31 23:58:59'),
 Timestamp('2008-12-31 23:02:40'),
 Timestamp('2009-01-01 00:15:53'),
 Timestamp('2019-12-31 23:56:42'),
 Timestamp('2019-12-31 23:56:29'),
 Timestamp('2009-01-01 04:09:53'),
 Timestamp('2008-12-31 23:19:29'),
 Timestamp('2009-01-01 07:49:42'),
 Timestamp('2019-12-31 23:56:56'),
 Timestamp('2008-12-31 23:22:01'),
 Timestamp('2019-12-31 23:57:54'),
 Timestamp('2009-01-01 00:49:38'),
 Timestamp('2009-01-01 00:35:26'),
 Timestamp('2009-01-01 00:18:17'),
 Timestamp('2019-12-31 16:03:02'),
 Timestamp('2019-12-31 19:52:59'),
 Timestamp('2020-07-15 23:16:07'),
 Timestamp('2019-12-31 23:59:13'),
 Timestamp('2019-12-31 17:41:46'),
 Timestamp('2019-12-18 15:27:49'),
 Timestamp('2019-12-18 15:30:35'),
 Timestamp('2003-01-01 00:07:17'),
 Timestamp('2009-01-01 23:51:06'),
 Timestamp('2009-01-01 00:05:45'),
 Timestamp('2009-01-01 00:02:16'),
 Timestamp('2009-01-01 00:05:17'),
 Timestamp('2019-12-31 23:59:55'),
 Timestamp('2019-12-31 23:58:07'),
 Timestamp('2009-01-01 01:11:17')]

In [36]:
pandemic_taxi_data = pandemic_taxi_data.drop(indicies, axis=0)

In [37]:
# Time to remove outliers before resampling them into groups of days
pandemic_taxi_data.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,16672977.0,1.636886,0.514428,0.00,1.00,2.00,2.00,2.00
passenger_count,16672977.0,1.467095,1.142993,0.00,1.00,1.00,1.00,9.00
trip_distance,16672977.0,3.073725,165.677877,-30.62,0.98,1.62,3.00,297004.51
RatecodeID,16672977.0,1.026184,0.684065,0.00,1.00,1.00,1.00,99.00
fare_amount,16672977.0,12.537379,195.445161,-1259.00,6.50,9.00,14.00,671100.14
extra,16672977.0,1.133252,122.457679,-27.00,0.00,0.50,2.50,500000.80
mta_tax,16672977.0,0.523017,122.451331,-0.50,0.50,0.50,0.50,500000.50
tip_amount,16672977.0,2.132030,2.600151,-493.22,0.00,1.92,2.86,1100.00
tolls_amount,16672977.0,0.320992,1.635392,-40.00,0.00,0.00,0.00,911.75
improvement_surcharge,16672977.0,0.297907,0.034735,-0.30,0.30,0.30,0.30,0.30
total_amount,16672977.0,18.453766,313.428722,-1260.30,11.16,14.30,19.80,1000003.80
congestion_surcharge,16672977.0,2.262238,0.755263,-2.50,2.50,2.50,2.50,2.75
Bronx_PU,16672977.0,0.003665,0.060426,0.00,0.00,0.00,0.00,1.00
Brooklyn_PU,16672977.0,0.013328,0.114675,0.00,0.00,0.00,0.00,1.00
Manhattan_PU,16672977.0,0.920776,0.270088,0.00,1.00,1.00,1.00,1.00
Queens_PU,16672977.0,0.062037,0.241223,0.00,0.00,0.00,0.00,1.00
Staten_Island_PU,16672977.0,0.000106,0.010285,0.00,0.00,0.00,0.00,1.00
Bronx_DO,16672977.0,0.009931,0.099157,0.00,0.00,0.00,0.00,1.00
Brooklyn_DO,16672977.0,0.042728,0.202243,0.00,0.00,0.00,0.00,1.00
Manhattan_DO,16672977.0,0.892637,0.309575,0.00,1.00,1.00,1.00,1.00
Queens_DO,16672977.0,0.052586,0.223206,0.00,0.00,0.00,0.00,1.00
Staten_Island_DO,16672977.0,0.000373,0.019300,0.00,0.00,0.00,0.00,1.00
Mins_In_Ride,16672977.0,15.762059,60.817154,0.00,6.33,10.48,16.88,1439.98

In [38]:
len(pandemic_taxi_data)

16672977

In [39]:
bad_columns = ['trip_distance', 'RatecodeID', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
               'tolls_amount', 'improvement_surcharge', 'total_amount', 'Mins_In_Ride']
for column in bad_columns:
    mn = pandemic_taxi_data[column].mean()
    std = pandemic_taxi_data[column].std()
    cut_off = 3 * std
    lower, upper = mn - cut_off, mn + cut_off
    pandemic_taxi_data = pandemic_taxi_data[(pandemic_taxi_data[column] < upper) & (pandemic_taxi_data[column] > lower)]

In [40]:
# Drop rows in trip_distance and fare amount that are less than 0
pandemic_taxi_data = pandemic_taxi_data[pandemic_taxi_data['trip_distance'] > 0]
pandemic_taxi_data = pandemic_taxi_data[pandemic_taxi_data['fare_amount'] > 0]
len(pandemic_taxi_data)

15164167

In [41]:
pandemic_taxi_data.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,15164167.0,1.648978,4.952342e-01,0.00,1.00,2.00,2.00,2.00
passenger_count,15164167.0,1.479997,1.142732e+00,0.00,1.00,1.00,2.00,9.00
trip_distance,15164167.0,2.084513,1.767304e+00,0.01,0.94,1.52,2.56,76.10
RatecodeID,15164167.0,0.991285,9.306394e-02,0.00,1.00,1.00,1.00,3.00
fare_amount,15164167.0,10.060604,5.448791e+00,0.01,6.00,8.50,12.50,38.51
extra,15164167.0,1.114531,1.228505e+00,-0.50,0.00,0.50,2.50,4.14
mta_tax,15164167.0,0.500000,0.000000e+00,0.50,0.50,0.50,0.50,0.50
tip_amount,15164167.0,1.781111,1.505570e+00,0.00,0.00,1.86,2.67,9.55
tolls_amount,15164167.0,0.000734,4.479097e-02,0.00,0.00,0.00,0.00,3.70
improvement_surcharge,15164167.0,0.300000,8.524592e-11,0.30,0.30,0.30,0.30,0.30
total_amount,15164167.0,15.313087,6.149116e+00,2.50,11.00,13.80,18.05,39.31
congestion_surcharge,15164167.0,2.339522,6.127267e-01,0.00,2.50,2.50,2.50,2.75
Bronx_PU,15164167.0,0.002130,4.610155e-02,0.00,0.00,0.00,0.00,1.00
Brooklyn_PU,15164167.0,0.010580,1.023142e-01,0.00,0.00,0.00,0.00,1.00
Manhattan_PU,15164167.0,0.963279,1.880764e-01,0.00,1.00,1.00,1.00,1.00
Queens_PU,15164167.0,0.023994,1.530318e-01,0.00,0.00,0.00,0.00,1.00
Staten_Island_PU,15164167.0,0.000016,3.944967e-03,0.00,0.00,0.00,0.00,1.00
Bronx_DO,15164167.0,0.006000,7.722736e-02,0.00,0.00,0.00,0.00,1.00
Brooklyn_DO,15164167.0,0.029922,1.703716e-01,0.00,0.00,0.00,0.00,1.00
Manhattan_DO,15164167.0,0.933975,2.483264e-01,0.00,1.00,1.00,1.00,1.00
Queens_DO,15164167.0,0.030087,1.708270e-01,0.00,0.00,0.00,0.00,1.00
Staten_Island_DO,15164167.0,0.000015,3.894497e-03,0.00,0.00,0.00,0.00,1.00
Mins_In_Ride,15164167.0,11.432002,7.130811e+00,0.00,6.13,9.85,15.12,191.55

In [69]:
# next task is to group the index by hour
pandemic_taxi_data = pandemic_taxi_data.resample('H').mean()
pandemic_taxi_data.head()

,VendorID,passenger_count,trip_distance,RatecodeID,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,...,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
2020-01-01 00:00:00,1.693601,1.687510,2.408714,0.998782,11.389942,1.219202,0.5,1.887437,0.000910,0.3,...,0.017785,0.963781,0.016242,0.0,0.009177,0.041660,0.917411,0.031752,0.0,13.420050
2020-01-01 01:00:00,1.697895,1.683354,2.564234,0.998770,11.581830,1.182341,0.5,1.958635,0.000405,0.3,...,0.043406,0.935325,0.018230,0.0,0.010851,0.064964,0.881357,0.042827,0.0,13.356097
2020-01-01 02:00:00,1.688215,1.647092,2.690488,0.998540,11.325833,1.195151,0.5,1.940590,0.001363,0.3,...,0.053938,0.916782,0.025468,0.0,0.012166,0.083786,0.847757,0.056290,0.0,12.094755
2020-01-01 03:00:00,1.698586,1.630557,2.791689,0.999326,11.313673,1.182027,0.5,1.848462,0.001200,0.3,...,0.043444,0.925123,0.027952,0.0,0.014369,0.096767,0.820947,0.067916,0.0,11.545077
2020-01-01 04:00:00,1.712146,1.637443,2.921626,0.999817,11.491224,1.137763,0.5,1.657045,0.001534,0.3,...,0.045114,0.916712,0.036164,0.0,0.014429,0.109954,0.783196,0.092420,0.0,11.273529

In [83]:
# Last step is to make a random walk of the total_amount. In other words, make the next entiries' total_amount
# value be dependent of the current one
shifted_values = pandemic_taxi_data[['total_amount']]
shifted_values = shifted_values.shift(1, axis=0)
pandemic_taxi_data['total_amount'] = shifted_values
pandemic_taxi_data['total_amount'].head()

2020-01-01 00:00:00          NaN
2020-01-01 01:00:00    16.936198
2020-01-01 02:00:00    17.148780
2020-01-01 03:00:00    16.830250
2020-01-01 04:00:00    16.732711
Freq: H, Name: total_amount, dtype: float64

# 3.3 Finished Cleaning <a id='3.3_Finished_Cleaning'></a>

In [86]:
pandemic_taxi_data.to_csv('./datasets/Clean_Pandemic_Taxi_Data.csv')